.site-footer {
  background-image: linear-gradient(to bottom, darken($blue, 11%), darken($blue, 22%));
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: darken($blue, 44%);

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: lighten($blue, 29%);

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
          &.github:hover{
            color: violet;
          }
        }
      }
    }
  }
}
