.author-social-links {
  ul {
    display: inline-flex;
    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $white;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}

.sub-btn {
  background: rgba(0,0,0,0.00001);
  border-color: $pink2;
  color: $pink2;
  transition: color ease-in-out 0.3s, all ease-in-out 0.3s;
  &:hover {
    color: white;
    background-color: $pink2;
  }
}